div.MuiDialog-paper {
  width: 600px;
}

div.modal {
  overflow: hidden;
  max-height: unset;
  margin: auto;
}

div.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 15px;
}

label.button-upload {
  width: 185px;
}

.form-input {
  color: red;
  border: 1px solid red;
}

.Mui-focused .MuiInputLabel-root {
  color: var(--color-dark-grey);
}

.MuiFilledInput-root:after {
  border-bottom-color: var(--color-dark-grey);
}

@media (min-width: 420px) and (max-width: 768px) {
  div.MuiDialog-paper {
    width: 450px;
  }
}
