div.modal {
  overflow: hidden;
  max-height: unset;
  width: 900px;
  margin: auto;
}

div.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

label.button-upload {
  width: 185px;
}

.form-input {
  color: red;
  border: 1px solid red;
}

.Mui-focused .MuiInputLabel-root {
  color: var(--color-dark-grey);
}

.MuiFilledInput-root:after {
  border-bottom-color: var(--color-dark-grey);
}
