div.modal {
  overflow: hidden;
  max-height: unset;
  width: 900px;
  margin: auto;
}

div.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-container {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img.post-images-detail {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.description-container {
  max-height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
