div.modal {
  overflow: hidden;
  max-height: unset;
  margin: auto;
}

h2.detail-title {
  width: 80%;
}

div.post-card-detail {
  width: 600px;
  height: 100%;
}

div.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.image-container {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img.post-images-detail {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.description-container {
  max-height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

div.confirm-message {
  margin: auto;
  width: 400px;
}

div.MuiDialogActions-root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.small {
  max-width: 120px;
}

@media (min-width: 420px) and (max-width: 768px) {
  h2.detail-title {
    width: 60%;
  }

  div.post-card-detail {
    width: 450px;
    height: 100%;
  }

  div.MuiPaper-root {
    overflow: hidden;
  }
}
