div.modal {
  overflow: hidden;
}
.image-container {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img.post-images-detail {
  width: 100%;
  height: auto;
  object-fit: contain;
}
