@mixin main-container {
  display: flex !important;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
}

@mixin title {
  color: var(--color-content-primary);
  font-size: var(--font-size-xxxl);
  font-weight: 600 !important;
}

@mixin cta {
  box-sizing: border-box;
  border-radius: 1.5rem;
  width: 150px;
  font-weight: 600;
}
