@import './../../styles/mixins.scss';

.container {
  @include main-container;
}

.mainTitle {
  @include title;
}

.buttonOutlined {
  @include cta;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-sand);
  align-self: flex-end;

  &:hover {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-sand);
    border: 1px solid var(--color-primary);
  }
}
