@import './../../styles/mixins.scss';

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

.buttonLink {
  @include cta;
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-light);
    opacity: 80%;
  }
}

.buttonContained {
  @include cta;
  color: var(--color-light);
  background-color: var(--color-primary);

  &:hover {
    opacity: 80%;
    background-color: var(--color-primary);
  }
}
